parameters:
    # Définition du niveau de qualité
    level: 6
	# Exclusions
    excludePaths:
        - vendor
        - var
    # Inclusions
    paths:
        - .

    # Ignore errors
    ignoreErrors:
        -
          message: '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
          path: src/Entity/*
